#main1{
    /* border: 1px solid salmon; */
    margin-top: 150px;
}
#head1{
    font-weight: 600;
}
#head2{
    margin-top: 25px;
    font-weight: 500;
    font-size: 22px;
}
#mid{
    /* border: 1px solid black; */
    display: flex;
    justify-content: space-evenly;
    margin-top: 70px;
}
/* #box1{
    border: 1px solid red;
} */
#ig1{
    /* border: 1px solid black; */
    height: 70%;
    margin: auto;
}
#tx1{
    /* border: 1px solid black; */
    font-size: 24px;
}
/* #box2{
    border: 1px solid red;
} */
#ig2{
    /* border: 1px solid black; */
    height: 70%;
    margin: auto;
}
#tx2{
    font-size: 24px;
}
/* #box3{
    border: 1px solid red;
} */
#ig3{
    /* border: 1px solid black; */
    height: 70%;
    margin: auto;
}
#tx3{
    font-size: 24px;
}
/* #box4{
    border: 1px solid red;
} */
#ig4{
    /* border: 1px solid black; */
    height: 70%;
    margin: auto;
}
#tx4{
    font-size: 24px;
}
/* #box5{
    border: 1px solid red;
} */
#ig5{
    /* border: 1px solid black; */
    height: 70%;
    margin: auto;
}
#tx5{
    font-size: 24px;
}
#box6{
    /* border: 1px solid red; */
    width: 220px;
}
#ig6{
    /* border: 1px solid black; */
    height: 70%;
    margin: auto;
}
#tx6{
    font-size: 24px;
}
#head3{
    margin-top: 50px;
    font-weight: 640;
}
#head4{
    /* border: 1px solid black; */
    margin: auto;
    margin-top: 70px;
    font-weight: 600;
    width: 85%;
    font-size: 25px;
    text-align:justify;
}
#head5{
    /* border: 1px solid black; */
    margin: auto;
    /* margin-top: 70px; */
    font-weight: 600;
    width: 85%;
    font-size: 25px;
    text-align:justify;
    line-height: 1.25em;
}
#head6{
    /* border: 1px solid black; */
    margin: auto;
    margin-top: 40px;
    font-weight: 600;
    width: 85%;
    font-size: 25px;
    text-align:justify;
}
#btn1{
    margin-top: 30px;
    height: 60px;
    width: 250px;
    border-radius: 50px;
    background-color: black;
    color: white;
    font-size: 24px;
}
#boxx{
    /* border: 1px solid red; */
    display: flex;
    margin-top: 150px;
}
#btn2{
    border: 4px solid black;
    height: 70px;
    width: 450px;
    border-radius: 20px;
    font-size: 45px;
    margin-left: 310px;
}
#btn3{
    height: 60px;
    width: 250px;
    border-radius: 50px;
    background-color: black;
    color: white;
    font-size: 24px;
    margin-left: 80px;
    margin-top: 5px;
}
#head7{
    font-weight: 400;
    font-size: 22px;
    margin-top: 28px;
    margin-right: 120px;
}
#b2{
    /* border: 1px solid red; */
    height: 200px;
    margin: auto;
    margin-top: 120px;
}
#head8{
    font-weight: 600;
    margin-top: 40px;
}
#boxx1{
    /* border: 1px solid red; */
    display: flex;
    margin-top: 60px;
}
#btn4{
    border: 4px solid black;
    height: 70px;
    width: 450px;
    border-radius: 20px;
    font-size: 35px;
    margin-left: 310px;
}
#head9{
    font-weight: 400;
    font-size: 22px;
    margin-top: 28px;
    margin-right: 480px;
}
